.hero-unit
  .well.well-large
    = content_tag 'h2' do 
      = "Нет активной поездки"
      - if current_user.tickets.scheduled.present?
        = link_to "Начните одну из запланированых", scheduled_tickets_path
