= @ticket && @ticket.errors.messages
.panel.panel-default
  .panel-heading{ style: "height: 35px; " }
    %h5.panel-title
      Новая поездка
      .pull-right
        %input.btn.btn-primary.btn-panel-heading#submit_ticket_form{:name => "commit", :type => "submit", :value => "Save", :style => "margin-top: -3px !important;"}
  .panel-body
    .row-fluid
      = render partial: "form", locals: { ticket: @ticket }
